/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
} */
