.email{
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    background-color: aliceblue;
    height: 2em;
    text-align: left;
}

.loginbutton{
    border: 1em;
    margin: 15px;
    border-radius: 15px 15px 15px 15px;
    cursor: grabbing;
    color: white;
    background-color: rgb(48, 216, 56);
    height: 2em;
    width: 15%;
}

.loginbutton:hover{
    box-shadow: 6px 7px 9px -1px rgba(9,143,47,0.72);
}