.searchInput{
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: aliceblue;
    height: 2em;
    margin:  15px 0 0 15px
}

.searchButton{
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    cursor: grabbing;
    color: white;
    background-color: rgb(48, 216, 56);
    height: 2em;
}

.searchButton:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(219, 231, 105);
    -webkit-box-shadow: 6px 6px 3px 0px rgba(195, 214, 26, 0.85);
    box-shadow: 6px 6px 3px 0px rgba(195, 214, 26, 0.85);}